.flex-column {
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    width: 60%;
    margin:auto
  }

.motherBox{
      width: 100%;
      margin: auto;
      margin-top: 100px;
      height: 70px;
}
.img-left {
    float: left;
}

.imgRight {
    float: right;
}

.proj-img {
    border-radius: 50%;
    max-width: 60px;
    height: auto;
    padding: 8px;
}

.box-style{
    border: grey solid 2px;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
}

.box-style-left {
    display:inline;

  }
  
.box-style-right {
    justify-content: flex-end;
  }

