html, body {
  height: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
  width: 60%;
  margin: auto;
}

.motherBox {
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

.imgTxtBox {
  display: flex;
  flex-direction: row;
}

.img-left {
  float: left;
}

.img-right {
  float: right;
}

.proj-img {
  border-radius: 60%;
  max-width: 40%;
  height: auto;
  padding: 8px;
}

.box-style {
  border: grey solid 2px;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
}

.box-style-left {
  display: inline;
}

.box-style-right {
  justify-content: flex-end;
}

.text-box {
  padding: 10px;
}

.image-box {
  padding: 10px;
  width: 100%;
}

.button-box {
  padding: 10px;
}
